{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
   <div class="container" id="cov">
           <div class="blog">
            <h1 class="title">
                <a href="/">Blog Site</a> 
            </h1>
            <article>
              {% if blog%}
              {% for item in blog %}
              <section>
              <h3>{{item.title}}</h3>
              <p>
              <div class="blog-text">
                  <p>Post: {{item.blog_content}}</p>
                  <p class="text-muted"> Posted by: {{item.user.username}} 
                      <br>
                  On: {{item.posted_on}}</p>
              </div>
          
              <div class="blog-controls">
                  {%if current_user.is_authenticated%}
                  <a href="{{url_for('main.new_comment',blog_id=item.id)}}">
                      <button class="btn btn-sm">
                      <i class="fa fa-comments"></i>
                      </button>
                  </a>
                  <a href="{{url_for('main.edit_blog',blog_id = item.id)}}">
                      <button class="btn btn-sm"><i class="fa fa-edit"></i></button>
                  </a>
                  <a href="{{url_for('main.delete_blog',site_id = item.id)}}">
                      <button class="btn btn-sm"><i class="fa fa-trash"></i></button>
                  </a>
              </div>
              {% else %}
              <div class="blog-controls">
                  <a href="{{url_for('main.new_comment',blog_id=item.id)}}">
                      <button class="btn btn-sm">
                      <i class="fa fa-comments"></i>
                      </button>
                  </a>
              </div>
              {% endif %}
          
          </p>
          </section>
                  {% endfor %}
                  {% endif%}
             </article>
           </div> 
           <div class="quote">
            <p class="quote-text">"{{quotes.quote}}"</p>
            <p class="quote-author">By: ~{{quotes.author}}~</p>
   </div> 
       </div>
{% endblock %}
